
/** WEB PAGE LAYOUT **/
@media (min-width: 768px) {
  .maincontainer  {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 0px;
  }

  .flexingRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: justify;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .footer {
    flex-shrink: 0;
  }

  .header {
    flex-shrink: 0;
    text-align: justify;
  }

  img {
    image-orientation: from-image;
    max-width: 500px;
    height: auto;
    width: auto;
  }

  h2  {
    font-family: 'Righteous', cursive;
    color: #5c5241;
    text-align: justify;
  }

  h3  {
    font-family: 'Titillium Web', sans-serif;
    color: #5c5241;
    text-align: justify;
  }

  header  {
    font-family: 'Righteous', cursive;
    background-color: #ffe4b5;
    padding-left: 3rem;
  }

  footer  {
    margin-top: auto;
    flex: 0;
    background-color: #ffe4b5;
  }

  div {
    background-color: #ffe4b5;
  }
}

/** MOBILE FIRST **/
.maincontainer  {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100%;
  width: 100%;
  padding: 0rem;
}

.home {
  max-width: 70px;
  padding: 1rem;
  height: auto;
  width: auto;
  justify-content: center;
}

.portfolioimgs  {
  padding: 2rem;
  justify-content: center;
  max-width: 350px;
  height: auto;
  width: auto;
}

.profile  {
padding: 3rem;
  border-radius: 30%;
}

.footer {
  flex-shrink: 0;
  text-align: center;
}

.aboutme  {
  font-size: 1.5rem;
  padding: 4rem;
}

body  {
  width: 100%;
  height: 100%;
}

p {
  font-family: 'Titillium Web', sans-serif;
  color: #5c5241;
  font-size: 1rem;
  text-align: justify;
  padding: 2rem;
}

article {
  font-size: 1rem;
  padding: 2rem;
}

img {
  max-width: 200px;
  padding: 1rem;
  height: auto;
  width: auto;
}

div {
  background-color: #c0bb72;
  text-align: center;
}

h2  {
  font-family: 'Righteous', cursive;
  color: #5c5241;
  text-align: center;
}

h3  {
  font-family: 'Titillium Web', sans-serif;
  color: #5c5241;
  text-align: center;
}

hr  {
  height: 3px;
  color: #5c5241;
  background-color: #5c5241;
  border: none;
}

header  {
  font-family: 'Righteous', cursive;
  color: #5c5241;
  background-color: #c0bb72;
  text-align: center;
  padding: 4rem;
}

footer  {
  font-family: 'Titillium Web', sans-serif;
  background-color: #c0bb72;
  text-align: center;
  padding: 3rem;
}
