/** WEB PAGE LAYOUT **/
@media (min-width: 768px) {
  .maincontainer  {
    display: flex;
    /*grid-template-rows: 2fr 2.5fr 0.5fr; /*3 rows*/
    /*grid-template-columns: 1.5fr 1.5fr 1.5fr;  /*3 columns*/
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 0px;
  }

  .about  {
    /*grid-row: 2;
    grid-column: 1;*/
    width: auto;
  }

  .projects {
    /*grid-row: 2;
    grid-column: 2;*/
    width: auto;
  }

  .contactinfo  {
    /*grid-row: 2;
    grid-column: 3;*/
    width: auto;
  }

  .logo {
    height: 10%;
    width: auto;
  }

  header  {
    /*grid-row: 1;
    grid-column: 1 / 4;*/
    background-color: #20B2AA;
    text-align: justify;
    padding-left: 3rem;
    height: 20rem;
    width: auto;
  }

  footer  {
    /*grid-row: 3;
    grid-column: 1 / 4;*/
    background-color: #20B2AA;
    height: 10rem;
    width: auto;
  }

  div {
    background-color: #e9fbfa;
  }
}

/** MOBILE FIRST **/
.maincontainer  {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 0rem;
}

.about  {
  padding: 3rem;
}

.projects {
  padding: 3rem;
}

.contactinfo  {
  padding: 3rem;
}

.logo {
  height: 10%;
  width: auto;
}

img {
  height: 40%;
  width: auto;
}

div {
  background-color: #e9fbfa;
  padding: 0.5rem;
  text-align: center;
}

header  {
  background-color: #20B2AA;
  text-align: center;
  padding: 4rem;
  height: auto;
  width: auto;
}

footer  {
  background-color: #20B2AA;
  text-align: center;
  padding: 2rem;
  height: auto;
  width: auto;
}
